<h1>About Us</h1>
<p>

	Honey-Do-List is an open source project that has been developed using <a href="http://rubyonrails.org">Ruby on Rails</a>.
	Rails is a web application framework for the <a href="http://rubyonrails.org">Ruby</a> programming language.
</p>
<p>
	This is our first web application.  If you would like to view the source for our site <a href="https://github.com/pedalhard3pdx/Honey-Do">GitHub</a>.  We would like to thank Michale Hartl whose <a href="http://railstutorial.org/book">Rails Tutorial book</a> was the starting point for this site. 
</p>