<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class"main">
        <h1 class="list" style>Create your list!</h1> 
        <%= render 'shared/list_form' %>
      </td>
    </tr>
  </table>
<% else %>

<h1>Honey Do List</h1>
<p>
	Ever hand write a list on a small slip of paper?  It has every thing on it you need.  You head out of the house, drive to the store....
	Reach into your pocket or your purse and NOTHING!!! Because the list you made is on the kitchen table,  right where you left it. 
</p>
<p>
    WE ARE HERE TO HELP!!
</p>
 <p>
    Honey Do List is an web based list application.  It's designed so you can generate small lists for all your daily needs.  Then using your computer, laptop, tablet or phone access those lists from any where. 
 </p>
 <p>
    No more rummaging around in seach of tiny scraps of paper. 
 </p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>